In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
import plotly.express as px
warnings.filterwarnings(action='ignore')

In [2]:
data = pd.read_csv('/home/dona-erick/Bureau/Projet-Etudiant/Data_Health_Student/Data_on_health_frequentation_student_world/world-education-data.csv')
df = pd.read_csv('/home/dona-erick/Bureau/Projet-Etudiant/Data_Health_Student/Data_on_health_frequentation_student_world/student_monnitoring_data.csv')

In [3]:
data.head(5)

,country,country_code,year,gov_exp_pct_gdp,lit_rate_adult_pct,pri_comp_rate_pct,pupil_teacher_primary,pupil_teacher_secondary,school_enrol_primary_pct,school_enrol_secondary_pct,school_enrol_tertiary_pct
0,Afghanistan,AFG,1999,NaN,NaN,NaN,33.18571,NaN,27.298849,NaN,NaN
1,Afghanistan,AFG,2000,NaN,NaN,NaN,NaN,NaN,22.162991,NaN,NaN
2,Afghanistan,AFG,2001,NaN,NaN,NaN,NaN,NaN,22.908590,14.47151,NaN
3,Afghanistan,AFG,2002,NaN,NaN,NaN,NaN,NaN,75.959747,NaN,NaN
4,Afghanistan,AFG,2003,NaN,NaN,NaN,NaN,NaN,96.553680,14.07805,1.38107

In [4]:
df.head(5)

,Student ID,Date,Class Time,Attendance Status,Stress Level (GSR),Sleep Hours,Anxiety Level,Mood Score,Risk Level
0,1,2024-12-01,9:00-15:00,Late,0.92,7.6,6,6,Low
1,1,2024-12-02,8:00-16:00,Late,1.17,6.0,6,2,Medium
2,1,2024-12-03,11:00-14:00,Late,4.56,6.3,4,8,High
3,1,2024-12-04,11:00-16:00,Late,3.07,9.0,2,10,Low
4,1,2024-12-05,9:00-13:00,Absent,3.93,7.4,9,4,High

In [5]:
### rename the columns
df.rename(
    columns={
        'Student ID': "ID",
        'Date':'Date',
        "Class Time": "Heure_cours",
        'Attendance Status':"status_presence",
        "Stres Level(GSR)":'Niveau_stress',
        "Sleep Hours":'Temps_sommeil',
        "Anxiety Level":"Niveau_anxiety",
        "Mood Score":"Hummeur_score",
        "Risk Level":"Niveau_risque"
    }, inplace=True
)

In [6]:
df.head()

,ID,Date,Heure_cours,status_presence,Stress Level (GSR),Temps_sommeil,Niveau_anxiety,Hummeur_score,Niveau_risque
0,1,2024-12-01,9:00-15:00,Late,0.92,7.6,6,6,Low
1,1,2024-12-02,8:00-16:00,Late,1.17,6.0,6,2,Medium
2,1,2024-12-03,11:00-14:00,Late,4.56,6.3,4,8,High
3,1,2024-12-04,11:00-16:00,Late,3.07,9.0,2,10,Low
4,1,2024-12-05,9:00-13:00,Absent,3.93,7.4,9,4,High

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,15000.0,250.500000,144.342090,1.0,125.75,250.50,375.25,500.0
Stress Level (GSR),15000.0,2.762538,1.301927,0.5,1.64,2.76,3.90,5.0
Temps_sommeil,15000.0,6.996780,1.150973,5.0,6.00,7.00,8.00,9.0
Niveau_anxiety,15000.0,5.546867,2.870323,1.0,3.00,6.00,8.00,10.0
Hummeur_score,15000.0,5.471533,2.868984,1.0,3.00,5.00,8.00,10.0